@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background-color: #16274e;
    color: #fff;
}

.loading {
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    width: 130px;
    height: 110px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99998;
}

.summary-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}